code, .language-text
  font-size: 15px !important
  line-height: 1.4 !important
li code
  font-size: 0.85em !important
#first
  background-color: #092e20
#me
  display: flex
  align-items: center
  img
    width: 200px
    border-radius: 100%
#db-logos img
  display: inline-block
  max-height: 200px
#migrate-code, #config-code
  pre.language-ini
    line-height: 0.5
  pre.language-shell, pre.language-python
    padding-bottom: 0
    padding-top: 0
    line-height: 0.5
  div.language-shell, div.language-python
    border-radius: 0
    &:before
      display: none
  div.language-shell:last-child, div.language-python:last-child
    border-bottom-left-radius: 6px
    border-bottom-right-radius: 6px
    padding-bottom: 1.25rem
  div.language-shell:first-child, div.language-python:first-child
    border-top-left-radius: 6px
    border-top-right-radius: 6px
    padding-top: 1.25rem
#migrate-code .language-shell:last-child .language-text
  code
    color: red
