code, .language-text
  font-size: 15px !important
  line-height: 1.4 !important
#first
  background-color: #092e20
#me
  display: flex
  align-items: center
  img
    width: 200px
    border-radius: 100%
#db-logos img
  display: inline-block
  max-height: 200px
#migrate-code
  .language-shell:first-child
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
  .language-shell:last-child
    border-top-left-radius: 0
    border-top-right-radius: 0
    .language-text
      padding-top: 0
      code
        color: red
